SUPABASE_URL=https://ucuizllfmzbrpvymdmap.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVjdWl6bGxmbXpicnB2eW1kbWFwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ4NTY3MzMsImV4cCI6MjA5MDQzMjczM30.tnNTKLPu7ivQbEk2NAC0Rn-A55Wk-c4TGWU4ah-34lA
SECRET_KEY=sidekick-payroll-secret-2026
ADMIN_EMAIL=aqib@sidekick.pk
ADMIN_PASSWORD=Aqib@1012
